.board {
    width: 400px;
    margin: auto;

    .info {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        text-align: center;
        align-content: center;

        .move-history {
            max-height: 100px;
            overflow-y: scroll;
        }
    }

}