.board {
  width: 400px;
  margin: auto; }
  .board .info {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center; }
    .board .info .move-history {
      max-height: 100px;
      overflow-y: scroll; }
